{%- assign ss = section.settings -%}
<style>
    .autumn-sale-rules {
        padding: 76px 0 80px;
        background-color: #f9f7f6;
        gap: 27px;
    }
    .autumn-sale-rules .card {
        width: 409px;
        position: relative;
    }
    .autumn-sale-rules .card .content {
        text-align: center;
        width: 100%;
        height: 230px;
        background-image: linear-gradient(55deg, rgb(255, 143, 22) 0%, #ffea03 100%), linear-gradient(#f5f0ed, #f5f0ed);
        border-radius: 10px;
        position: relative;
        z-index: 2;
    }
    .autumn-sale-rules .card:before, .autumn-sale-rules .card:after {
        content: "";
        width: 50%;
        height: 50%;
        position: absolute;
        box-shadow: -20px 20px 25px rgba(255, 132, 0, 0.6);
        bottom: 15px;
        left: 20px;
        z-index: 1;
        transform: rotate(-7deg);
    }
    .autumn-sale-rules .card:after {
        box-shadow: 20px 20px 25px rgba(255, 132, 0, 0.6);
        bottom: 15px;
        right: 20px;
        left: auto;
        transform: rotate(7deg);
    }
    .autumn-sale-rules .card .image {
        width: 99px;
        height: 99px;
        object-fit: contain;
        margin: 0 auto;
        transform: translateY(-19px);
    }
    .autumn-sale-rules .card:last-of-type .info .desc {
        padding: 15px 40px 0;
    }
    .autumn-sale-rules .card .info .name,
    .autumn-sale-rules .card .info .desc {
        color: #222222;
        line-height: 1.2;
    }
    .autumn-sale-rules .card .info .name {
        font-size: 36px;
    }
    .autumn-sale-rules .card .info .desc {
        font-weight: 400;
        padding-top: 15px;
        font-size: 18px;
        box-sizing: border-box;
        word-break: break-word;
    }
    @media screen and (max-width: 1023px) {
        .autumn-sale-rules {
            padding: 1.4756944444rem 3.7962962963vw 1.1935763889rem;
            box-sizing: border-box;
            gap: 1.7144097222rem 0;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .autumn-sale-rules .card {
            width: 44.537037037vw;
        }
        .autumn-sale-rules .card:last-of-type {
            width: 100%;
        }
        .autumn-sale-rules .card:last-of-type:before, .autumn-sale-rules .card:last-of-type:after {
            width: 25%;
        }
        .autumn-sale-rules .card:last-of-type .info .desc:last-of-type {
            padding: 0.3255208333rem 1.0850694444rem 0;
        }
        .autumn-sale-rules .card .content {
            height: 6.1631944444rem;
            border-radius: 0.6510416667rem;
        }
        .autumn-sale-rules .card:before, .autumn-sale-rules .card:after {
            box-shadow: -15px 15px 20px rgba(255, 132, 0, 0.9);
        }
        .autumn-sale-rules .card:after {
            box-shadow: 15px 15px 20px rgba(255, 132, 0, 0.9);
        }
        .autumn-sale-rules .card .image {
            width: 2.5390625rem;
            height: 2.5390625rem;
            transform: translateY(-0.4774305556rem);
        }
        .autumn-sale-rules .card .info .name {
            font-size: 0.9114583333rem;
        }
        .autumn-sale-rules .card .info .desc {
            font-size: 0.5642361111rem;
            padding-top: 0.3255208333rem;
        }
    }
    {% render 'ndev-page-wrap-style', info: ss, class: '.autumn-sale-rules' %}
</style>
<section class="autumn-sale-rules w-full flex-center">
  {%- for block in section.blocks -%}
    {%- assign bs = block.settings -%}
    <div class="card">
      <div class="content">
        {% render 'global-image', media_type: 'icon', desktop_img: bs.image_icon, desktop_size: 200 %}
        <div class="info">
          <div class="name tw-font-bold">{{ bs.title }}</div>
          <div class="desc">
            {{ bs.text }}
          </div>
        </div>
      </div>
    </div>
  {%- endfor -%}
</section>
{% schema %}
{
  "name": "Autumn Sale Rules",
  "class": "shopify-bike-main",
  "tag": "section",
  "presets": [
    {
      "name": "autumn-sale-rules"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "page_color",
      "label": "Background Color",
      "default": "#f9f7f6"
    },
    {
      "type": "number",
      "id": "page_top",
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "page_bottom",
      "label": "padding Bottom"
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Rules Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image_icon",
          "label": "Card Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Card Name",
          "default": "Up to $1000 Off"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Card Desc",
          "default": "<p>Save big on your favorite eBikes<br />this Events.</p>"
        }
      ]
    }
  ]
}
{% endschema %}
